// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body{
  background-color: #fd5c63;
}

.card-text{
  color :white;
}

.card-title{
  color: white;
  text-align: center;
}

.btn.light{
  color:#fd5c63;
  margin: 0 auto;
  display: block;
}
.header{
  background-color: #fd5c63;
}

.form-gradient{
  background-color: #fd5c63;
}

.container-fluid{
  background-color: #fd5c63;
}


.display-5{
  color:white;
}